# for WebStorm
# from http://gihyo.jp/dev/serial/01/android_studio/0035
.idea/**/*.xml
!.idea/codeStyleSettings.xml
!.idea/copyright/*.xml
!.idea/fileColors.xml
!.idea/runConfigurations/*.xml
!.idea/watcherTasks.xml

!.idea/scopes/*.xml
.idea/scopes/scope_settings.xml

!.idea/templateLanguages.xml
!.idea/vcs.xml

# for npm
npm-debug.log
node_modules/

# for bower
bower_components/

# for karma
test/**/*.espowered.js
